/build
/work
/install

/viewer/package-lock.json
/viewer/node_modules
/viewer/dist
/viewer/.parcel-cache

/stream_viewer/node_modules
/stream_viewer/package-lock.json
/stream_viewer/dist
/stream_viewer/.parcel-cache

thismira-tools.sh
*.png
*.pdf